flows.json
[{"id":"2c4ebe52.47b2f2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"17698d28.3645a3","type":"ibmiot in","z":"2c4ebe52.47b2f2","authentication":"apiKey","apiKey":"7222f0c.accc61","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":260,"wires":[["18278350.87c6ed"]]},{"id":"18278350.87c6ed","type":"function","z":"2c4ebe52.47b2f2","name":"text","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":260,"wires":[["96cf13a1.69a1"]]},{"id":"5729e9e8.22b958","type":"ibmiot in","z":"2c4ebe52.47b2f2","authentication":"apiKey","apiKey":"7222f0c.accc61","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":420,"wires":[["5e9f449d.7d95ec","772e556e.1a719c","25daea14.c6ac36","6e9dc270.be34dc","23dd793e.3ed586"]]},{"id":"96cf13a1.69a1","type":"debug","z":"2c4ebe52.47b2f2","name":"","active":true,"console":"false","complete":"false","x":590,"y":260,"wires":[]},{"id":"772e556e.1a719c","type":"debug","z":"2c4ebe52.47b2f2","name":"","active":true,"console":"false","complete":"false","x":550,"y":380,"wires":[]},{"id":"5e9f449d.7d95ec","type":"function","z":"2c4ebe52.47b2f2","name":"location","func":"msg.payload=msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":480,"wires":[["772e556e.1a719c","db0a2b0b.11a8e8"]]},{"id":"25daea14.c6ac36","type":"function","z":"2c4ebe52.47b2f2","name":"latitude","func":"global.set('lat',msg.payload.latitude)\nmsg.payload=msg.payload.latitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":560,"wires":[["772e556e.1a719c","66da9f1d.1167c"]]},{"id":"6e9dc270.be34dc","type":"function","z":"2c4ebe52.47b2f2","name":"longitude","func":"global.set('lon',msg.payload.longitude)\nmsg.payload=msg.payload.longitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":640,"wires":[["772e556e.1a719c","d0f00def.e228d"]]},{"id":"66da9f1d.1167c","type":"ui_gauge","z":"2c4ebe52.47b2f2","name":"latitude","group":"b6e4c2c8.a9e65","order":0,"width":0,"height":0,"gtype":"gage","title":"latitude","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":560,"wires":[]},{"id":"d0f00def.e228d","type":"ui_gauge","z":"2c4ebe52.47b2f2","name":"longitude","group":"b6e4c2c8.a9e65","order":0,"width":0,"height":0,"gtype":"gage","title":"longitude","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":640,"wires":[]},{"id":"748af9cb.9ed828","type":"ui_worldmap","z":"2c4ebe52.47b2f2","group":"b6e4c2c8.a9e65","order":3,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":570,"y":440,"wires":[]},{"id":"db0a2b0b.11a8e8","type":"ui_text","z":"2c4ebe52.47b2f2","group":"b6e4c2c8.a9e65","order":3,"width":0,"height":0,"name":"location","label":"location","format":"{{msg.payload}}","layout":"col-center","x":710,"y":500,"wires":[]},{"id":"23dd793e.3ed586","type":"function","z":"2c4ebe52.47b2f2","name":"worldmap","func":"msg.payload={\"name\":\"srilekha\",\"lat\":global.get('lat'),\"lon\":global.get('lon')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":440,"wires":[["748af9cb.9ed828","772e556e.1a719c"]]},{"id":"7222f0c.accc61","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"x4umcs.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b6e4c2c8.a9e65","type":"ui_group","name":"Default","tab":"4065608a.1c247","order":1,"disp":true,"width":"6","collapse":false},{"id":"4065608a.1c247","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]